@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

:root {
    --cor-primaria: #222831;
    --cor-secundaria: #31363F;
    --cor-rodape: #76ABAE;
    --cor-fonte: white;
    --cor-borda: #E5DDC5;
    --cor-hover: #EEEEEE;
    --hover-fonte: black;
    --cor-quadrado: rgb(21, 109, 104);


    /* --cor-primaria: #B3C8CF;
    --cor-secundaria: #BED7DC;
    --cor-rodape: #F1EEDC;
    --cor-fonte: black;
    --cor-borda: #E5DDC5;
    --cor-hover: #E5DDC5; */
    --size-titulo: 2rem;
    --font: "Roboto", sans-serif;
}


@media (max-width: 430px) {
    /* menu */

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 56px;
        padding: 10px 0px;
        background-color: var(--cor-primaria);
        /* position: fixed; */
        top: 0;
    }

    .menu__navegacao {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 19px 0px;
        white-space: nowrap;
    }

    .menu__nome {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }

    .menu__paragrago {
        font-size: 14px;
    }

    .menu__imagem {
        width: 22px;
        height: 22px;
    }

    .menu__guia {
        font-size: 12px;
    }

    .menu__paragrago, .menu__guia {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .menu__guia:nth-child(1),
    .menu__guia:nth-child(2),
    .menu__guia:nth-child(3),
    .menu__guia:nth-child(4),
    .menu__guia:nth-child(5) {
        display: none;
    }


    /* main  */

    .main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: var(--cor-secundaria);
    }

    /* apresentacao */

    .main__apresentacao {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 100%;
        height: 320px;
        padding: 10px;
        gap: 16px;
        background-color: var(--cor-secundaria);
    }

    .apresentacao__conteudo {
        display: flex;
        flex-direction: column;
        gap: 16px;
        white-space: normal;
        margin: 0px 15px;
    }

    .apresentacao__links {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 1rem;
        gap: 2rem;
    }

    .links__redes {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .links__imagem {
        width: 1rem;
        height: 1rem;
    }

    .apresentacao__titulo {
        font-size: 22px;
        white-space: normal;
    }

    .apresentacao__paragrafo {
        font-size: 14px;
    }

    .main__imagem {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        margin: 0px 15px;

    }

    /* sobre mim  */


    .main__sobre {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 320px;
        padding: 10px;
        background-color: var(--cor-secundaria);
    }

    .sobre__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 10px;
        margin: 0px 5px;
    }

    .sobre__titulo {
        font-size: 22px;
        font-family: var(--font);
    }

    .sobre__paragrafo {
        font-size: 14px;
    }

    /* skills  */

    .main__skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 16px 0px;
        gap: 32px;
        background-color: var(--cor-primaria);
    }

    .skills__titulo {
        font-size: 22px;
    }

    .skills__conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .skills__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 120px;
        height: 118px;
        background-color: var(--cor-quadrado);
        font-size: 16px;
    }

    /* hobbies  */

    .main__hobbies {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100;
        padding: 16px 0px;
        gap: 32px;
        background-color: var(--cor-primaria);
    }

    .hobbies__titulo {
        font-size: 22px;
    }

    .hobbies {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 16px;
        flex-wrap: wrap;
    }

    .hobbies__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 120px;
        height: 118px;
        background-color: var(--cor-quadrado);
        font-size: 16px;
    }

    /* formacao  */

    .main__formacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 450px;
        padding: 16px 0px;
        gap: 32px;
        background-color: var(--cor-secundaria);
    }

    .formacao__titulo {
        font-size: 22px;
    }

    .formacao {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
    }

    .formacao__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 67px;
    }

    .formacao__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 8px;
        width: 250px;
        height: 150px;
        background-color: var(--cor-quadrado);
    }

    .formacao__descricao {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 8px;
    }

    .formacao__subtitulo {
        font-size: 16px;
    }

    .formacao__paragrafo {
        font-size: 14px;
    }

    .formacao__imagem {
        width: 84px;
        height: 58px;
    }

    /* projetos  */

    .main__projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--cor-primaria);
        padding: 15px;
        height: 450px;
        gap: 20px;
    }

    .projetos__conteudo {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .projetos__descricao {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .links__botao {
        width: 90px;
        height: 40px;
        background-color: var(--cor-quadrado);
    }

    .projetos__imagem {
        width: 296px;
        height: 144px;
    }

    /* formulario  */

    .main__formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 16px 0px; */
        width: 100%;
        height: 750px;
        gap: 16px;
        background-color: var(--cor-secundaria);
    }

    .formulario__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0rem 1rem;
        gap: 16px;
    }

    .conteudo__descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: start; */
        width: 100%;
        gap: 16px;
    }

    /* .formulario__paragrafo {
        word-spacing: normal;
    } */

    .formulario {
        display: flex;
        justify-content: space-around;
    }

    .formulario__entrada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: 16px;
        gap: 16px;
    }

    .formulario__input {
        border: 2px solid var(--cor-borda);
        border-radius: 5px;
        width: 100%;
        height: 40px;
    }

    .formulario__textare {
        border: 2px solid var(--cor-borda);
        border-radius: 5px;
        width: 100%;
        height: 60px;
    }

    .formulario__botao {
        border: 2px solid var(--cor-borda);
        border-radius: 5px;
        width: 119px;
        height: 30px;
    }

    .formulario__imagem {
        display: none;
    }

    .rodape {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2.7rem;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 0.63rem;
        background-color: var(--cor-rodape);
        color: var(--cor-fonte);
    }

}






@media (min-width: 1024px) {

    /* menu */

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
        font-size: 1rem;
    }

    .menu__navegacao {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 12rem;
    }

    .menu__nome {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
        gap: 0.2rem;
    }

    .menu__paragrago {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .menu__secao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }
    
    .menu__guia {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    /* main  */

    .main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        /* gap: 6px; */
        height: 100%;
        /* padding: 52px 40px; */
        overflow: hidden;
        background-color: var(--cor-primaria);
    }

    /* apresentacao */

    .main__apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 47vw;
        gap: 1.5rem;
        padding: 2rem 6.25rem;
        color: var(--cor-fonte);
        background-color: var(--cor-primaria);
        /* margin: 0px 130px; */

    }

    .apresentacao__conteudo {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        gap: 2rem;
        font-size: 1rem;
    }

    .apresentacao__titulo {
        font-size: 3.3rem;
    }

    .apresentacao__paragrafo {
        font-size: 1.38rem;
    }

    .apresentacao__links {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 14px;
        gap: 2rem;
    }

    .links__redes {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .main__imagem {
        height: 23rem;
        width: 23rem;
        border-radius: 50%;
    }

    /* sobre mim  */

    .main__sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 1.5rem;
        padding: 6.25rem;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .sobre__conteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0rem 5.13rem;
        gap: 3.25rem;
    }

    .sobre__titulo {
        font-size: 2rem;
        font-family: var();
    }

    .sobre__paragrafo {
        font-size: 1.38rem;
    }

    /* skills */

    .main__skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 1.5rem;
        padding: 6.25rem;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .skills__titulo {
        font-size: 2rem;
    }

    .skills__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .skills__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 11rem;
        height: 10.88rem;
        background-color: var(--cor-quadrado);
        align-items: center;
        font-size: 1rem;
        gap: 0.5rem;
    }

    /* hobbies  */

    .main__hobbies {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 1.5rem;
        padding: 6.25rem;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .hobbies__titulo {
        font-size: 2rem;
    }

    .hobbies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .hobbies__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 11rem;
        height: 10.88rem;
        background-color: var(--cor-quadrado);
        align-items: center;
        font-size: 1rem;
        gap: 0.5rem;
    }

    /* formacao */

    .main__formacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 1.5rem;
        padding: 6.25rem;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .formacao__titulo {
        font-size: 2rem;
    }

    .formacao__conteudo {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .formacao__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23rem;
        height: 17.88rem;
        font-size: 1rem;
        gap: 0.75rem;
        background-color: var(--cor-quadrado);
    }

    .formacao__descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;
    }

    .formacao__subtitulo {
        font-size: 1.38rem;
    }

    .formacao__paragrafo {
        font-size: 1rem;
    }

    .formacao__imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10.88rem;
        height: 8.13rem;
    }
    
    /* projetos  */

    .main__projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 1rem;
        padding: 6.25rem;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .projetos__titulos {
        font-size: 2rem;
    }

    .projetos__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 1.63rem;
        padding: 2rem;
        font-size: 1rem;
    }

    .projetos__subtitulos {
        font-size: 1.38rem;
    }

    .projetos__paragrafo {
        font-size: 1rem;
    }

    .projetos__descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0.5rem;
    }

    .projetos__links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        font-size: 1rem;
    }

    .links__botao {
        text-align: center;
        width: 7.25rem;
        height: 3.19rem;
        border: 0.13rem solid var(--cor-borda);
        border-radius: 0.63rem; 
        cursor: pointer;
        background-color: transparent;
        color: var(--cor-fonte);
    }

    .links__botao:hover {
        transition: 0.7s;
        background-color: var(--cor-hover);
        transform: scale(1.1);
        opacity: 80%;
        color: var(--hover-fonte);
    }

    .projetos__imagem {
        width: 47rem;
        height: 25.38rem;
    }

    /* contato */

    .main__formulario {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* height: 36vw; */
        gap: 1rem;
        padding: 6.25rem;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .formulario__titulo {
        font-size: 2rem;
    }

    .formulario__paragrafo {
        font-size: 1rem;
    }

    .formulario__imagem {
        width: 29rem;
        height: 7.5rem;
        padding: 1.88rem 6.25rem;
    }

    .formulario__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 0.63rem;
    }

    .formulario__entrada {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 0.31rem;
        font-size: 1rem;
    }

    .formulario__input {
        width: 33.75rem;
        height: 3.5rem;
        border: 0.13rem solid var(--cor-borda);
        border-radius: 0.63rem;
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
    }

    .formulario__textare {
        width: 35.31rem;
        height: 6.25rem;
        border: 0.13rem solid var(--cor-borda);
        border-radius: 0.63rem;
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        resize: none;
    }

    .formulario__botao {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 12.5rem;
        height: 3.19rem;
        padding: 2rem;
        border: 0.13rem solid var(--cor-borda);
        border-radius: 0.63rem;
        font-size: 1rem;
    }

    .formulario__botao:hover {
        transition: 0.7s;
        background-color: var(--cor-hover);
        transform: scale(1.1);
        opacity: 80%;
        color: var(--hover-fonte);
    }

    /* rodape  */

    .rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.63rem;
    background-color: var(--cor-rodape);
    color: var(--cor-fonte);
    }


}

