@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@media (min-width: 1440px) {

    :root {
        --cor-de-fundo1: #F5F5F5;
        --cor-de-fundo2: /*#EAF2FD */blue;
        --cor-rodape: red;
        --cor-fonte: black;
        --size-titulo: 32px;
        --font: "Roboto", sans-serif;
    }

    /* menu */

    body {
        font-family: var(--font);
        font-weight: 400;
        background-color: var(--cor-de-fundo1);
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
        /* position: fixed;
        top: 0; */
        width: 100%;
    }

    .menu__secao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 32px;
    }
    
    .menu__guia {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    /* main  */

    .main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        height: 100%;
        padding: 52px 40px;
        overflow: hidden;
    }

    /* apresentacao */

    .main__apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 32px 100px;
    }

    .apresentacao__conteudo {
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
    }

    .apresentacao__titulo {
        font-size: 52px;
    }

    .apresentacao__paragrafo {
        font-size: 22px;
    }

    .apresentacao__links {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 24px;
        gap: 32px;
    }

    .links__redes {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .main__imagem {
        height: 368px;
        width: 368px;
        border-radius: 50%;
    }

    /* sobre mim  */

    .main__sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-de-fundo2);
    }

    .sobre__conteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 82px;
        gap: 52px;
    }

    .sobre__titulo {
        font-size: var(--size-titulo);
        font-family: var();
    }

    .sobre__paragrafo {
        font-size: 16px;
    }

    /* skills */

    .main__skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 36vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-de-fundo1);
    }

    .skills__titulo {
        font-size: var(--size-titulo);
    }

    .skills {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .skills__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 176px;
        height: 174px;
        background-color: blue;
        align-items: center;
        font-size: 16px;
        gap: 8px;
    }

    /* hobbies  */

    .main__hobbies {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 36vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-de-fundo1);
    }

    .hobbies__titulo {
        font-size: var(--size-titulo);
    }

    .hobbies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .hobbies__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 176px;
        height: 174px;
        background-color: blue;
        align-items: center;
        font-size: 16px;
        gap: 8px;
    }






    /* rodape  */

    .rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--cor-rodape);
    }


}

