@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

@media (min-width: 1440px) {

    :root {
        --cor-primaria: #222831;
        --cor-secundaria: #31363F;
        --cor-rodape: #76ABAE;
        --cor-fonte: white;
        --cor-borda: #E5DDC5;
        --cor-hover: #EEEEEE;
        --hover-fonte: black;


        /* --cor-primaria: #B3C8CF;
        --cor-secundaria: #BED7DC;
        --cor-rodape: #F1EEDC;
        --cor-fonte: black;
        --cor-borda: #E5DDC5;
        --cor-hover: #E5DDC5; */
        --size-titulo: 2rem;
        --font: "Roboto", sans-serif;
    }

    /* menu */

    body {
        font-family: var(--font);
        font-weight: 400;
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: transparent;
    }

    .menu__paragrago {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .menu__secao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px;
        gap: 32px;
    }
    
    .menu__guia {
        text-decoration: none;
        color: var(--cor-fonte);
    }

    /* main  */

    .main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        /* gap: 6px; */
        height: 100%;
        /* padding: 52px 40px; */
        overflow: hidden;
        background-color: var(--cor-primaria);
    }

    /* apresentacao */

    .main__apresentacao {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 47vw;
        gap: 24px;
        padding: 32px 100px;
        color: var(--cor-fonte);
    }

    .apresentacao__conteudo {
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
        font-size: 1rem;
    }

    .apresentacao__titulo {
        font-size: 3.3rem;
    }

    .apresentacao__paragrafo {
        font-size: 22px;
    }

    .apresentacao__links {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 24px;
        gap: 32px;
    }

    .links__redes {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none;
        color: var(--cor-fonte);
    }

    .main__imagem {
        height: 368px;
        width: 368px;
        border-radius: 50%;
    }

    /* sobre mim  */

    .main__sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .sobre__conteudo {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 82px;
        gap: 52px;
    }

    .sobre__titulo {
        font-size: 32px;
        font-family: var();
    }

    .sobre__paragrafo {
        font-size: 22px;
    }

    /* skills */

    .main__skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .skills__titulo {
        font-size: 32px;
    }

    .skills__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .skills__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 176px;
        height: 174px;
        background-color: blue;
        align-items: center;
        font-size: 16px;
        gap: 8px;
    }

    /* hobbies  */

    .main__hobbies {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .hobbies__titulo {
        font-size: 32px;
    }

    .hobbies {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .hobbies__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 176px;
        height: 174px;
        background-color: blue;
        align-items: center;
        font-size: 16px;
        gap: 8px;
    }

    /* formacao */

    .main__formacao {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 24px;
        padding: 100px;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .formacao__titulo {
        font-size: 32px;
    }

    .formacao {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .formacao__quadrados {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 368px;
        height: 286px;
        font-size: 16px;
        gap: 12px;
    }

    .formacao__descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 8px;
    }

    .formacao__subtitulo {
        font-size: 22px;
    }

    .formacao__paragrafo {
        font-size: 16px;
    }

    .formacao__imagens {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 190px;
        height: 130px;
    }

    .formacao__imagem {
        width: 100%;
        height: 80%;
    }
    
    /* projetos  */

    .main__projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 37vw;
        gap: 32px;
        padding: 100px;
        background-color: var(--cor-primaria);
        color: var(--cor-fonte);
    }

    .projetos__titulos {
        font-size: 32px;
    }

    .projetos__conteudo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 26px;
        padding: 32px;
        font-size: 1rem;
    }

    .projetos__subtitulos {
        font-size: 22px;
    }

    .projetos__paragrafo {
        font-size: 16px;
    }

    .projetos__descricao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 8px;
    }

    .projetos__links {
        display: flex;
        justify-content: center;
        gap: 16px;
        font-size: 16px;
    }

    .links__botao {
        text-align: center;
        width: 116px;
        height: 51px;
        border: 2px solid var(--cor-borda);
        border-radius: 10px; 
        cursor: pointer;
        background-color: transparent;
        color: var(--cor-fonte);
    }

    .links__botao:hover {
        transition: 0.7s;
        background-color: var(--cor-hover);
        transform: scale(1.1);
        opacity: 80%;
        color: var(--hover-fonte);
    }

    .projetos__imagem {
        width: 752px;
        height: 406px;
    }

    /* contato */

    .main__formulario {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* height: 36vw; */
        gap: 16px;
        padding: 100px;
        background-color: var(--cor-secundaria);
        color: var(--cor-fonte);
    }

    .formulario__titulo {
        font-size: 32px;
    }

    .formulario__paragrafo {
        font-size: 16px;
    }

    .formulario__imagem {
        width: 464px;
        height: 120px;
        padding: 30px 100px;
    }

    .formulario__conteudo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 10px;
    }

    .formulario__entrada {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 5px;
        font-size: 16px;
    }

    .formulario__input {
        width: 540px;
        height: 56px;
        border: 2px solid var(--cor-borda);
        border-radius: 10px;
        padding: 4px 12px;
        font-size: 16px;
    }

    .formulario__textare {
        width: 565px;
        height: 100px;
        border: 2px solid var(--cor-borda);
        border-radius: 10px;
        padding: 4px 12px;
        font-size: 16px;
        resize: none;
    }

    .formulario__botao {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 200px;
        height: 51px;
        padding: 32px;
        border: 2px solid var(--cor-borda);
        border-radius: 10px;
        font-size: 16px;
    }

    .formulario__botao:hover {
        transition: 0.7s;
        background-color: var(--cor-hover);
        transform: scale(1.1);
        opacity: 80%;
        color: var(--hover-fonte);
    }

    /* rodape  */

    .rodape {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.7rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--cor-rodape);
    color: var(--cor-fonte);
    }


}